@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

#home {
    display: flex;
    flex-direction: row;
    background-image: url(/assets/images/home_section_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

.homeContainer {
    width: 50%;
    height: 100vh;
}

.homeContainer:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeContainer:nth-child(2) {
    background-image: url(/assets/images/home_bg.png);
    background-position: left;
    background-size: cover;
    border: 0;
}

.homeContainer:nth-child(2) img{
    display: none;
}

#homeLogo {
    width: 330px;
}

.time-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    gap: 20px;
}

.time-left p{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time-left p span:nth-child(1){
    font-size: 50px;
    background-color: #69696975;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    min-width: 80px;
    text-align: center;
}

.time-left p span:nth-child(2){
    color: gray;
}


@media(max-width:700px) {
    #home {
        flex-direction: column;
    }

    .homeContainer {
        width: 100%;
    }

    .homeContainer:nth-child(1) {
        align-items: center;
        justify-content: center;
        height: fit-content;
        margin-block: 100px;
    }

    .homeContainer:nth-child(2) {
        background-image: none;
        height: auto;
    }

    .homeContainer:nth-child(2) img{
        width: 100%;
        display: block;
    }

    .time-left p span:nth-child(1){
        font-size: 25px;
        min-width: 50px;
    }

}

@media(max-width:350px){
    #homeLogo{
        width: 100%;
    }
}