
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.centre{
  max-width: 1000px;
  margin-inline: auto;
  padding: 10px;
}

h1{
  color: green;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 0 10px gray;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 2;
}

header img.logo{
  height: 70px;
}

section{
  max-width: 1000px;
}

main{
  background-image: url(/assets/images/home_section_bg.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 90px;
}

main marquee{
  background-color: green;
  color: white;
  padding: 5px;
}

main .centre{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  padding-block: 100px;
}

main img{
  width: 250px;
}

main p{
  font-weight: 500;
}

@media(max-width:700px){

  header div:nth-child(1) .logo:nth-child(2){
    display: none;
  }

  main .centre{
    flex-direction: column;
    padding-block: 50px;
    gap: 0px;
  }
}