
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1{
  color: green;
}

a{
  color: green;
}

.centre{
  max-width: 1000px;
  margin-inline: auto;
  padding: 10px;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 0 10px gray;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 2;
}

header img.logo{
  height: 90px;
}

section{
  max-width: 1000px;
}

main{
  background-image: url(/assets/images/home_section_bg.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 110px;
}

main marquee{
  background-color: green;
  color: white;
  padding: 5px;
}

main .centre{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  padding-block: 100px;
}

main .centre img{
  width: 40%;
}

main .centre div{
  width: 60%;
}

main .centre div h1{
  background-image: linear-gradient(to right, orange, #2ecc71, green, black);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

main .centre div h3{
  color: green;
  font-weight: 500;
}

main p{
  font-weight: 500;
}

@media(max-width:700px){

  header div:nth-child(1) .logo:nth-child(2){
    display: none;
  }

  main .centre{
    flex-direction: column;
    padding-block: 50px;
  }

  main .centre img{
    width: 100%;
  }
  
  main .centre div{
    width: 100%;
  }
}

#display{
  padding: 100px 10px 50px 10px;
}

section.display{
  display: flex;
  border-radius: 10px;
  box-shadow: 0 0 400px rgba(128, 128, 128, 0.183);
  padding: 0;
  overflow: hidden;
}

section.display .menu{
  width: 25%;
  background-color: green;
  padding: 10px;
  color: white;
}

section.display .menu ul{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

section.display .menu li{
  list-style: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}

section.display .menu li.active, section.display .menu li:hover{
  background-color: greenyellow;
  color:green;
}

section.display .screen{
  width: 70%;
}

section.display .screen .indi-screen{
  padding: 10px;
  display: none;
  height: 100%;
}

section.display .screen .indi-screen:nth-child(1){
  display: block;
}

section.display .screen .indi-screen:nth-child(6) img{
  width: 100%;
}

section.display .screen .indi-screen h1{
  margin-bottom: 10px;
}

section.display .screen .indi-screen h3{
  margin-top: 5px;
  color: green;
}

section.display .screen .contact strong{
  margin-top: 10px;
}

section.display .screen .registration img{
  width: 100%;
}

.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgb(233, 172, 93) 10.8%,
    rgb(2, 183, 32) 94.3%
  );
  transition: all 0.475s;
}


@media(max-width:700px){
  section.display{
    margin-block:0;
    flex-direction: column;
  }
  section.display .menu{
    width: 100%;
  }
  section.display .screen{
    width: 100%;
  }
}

footer{
  background-color: #212121;
  color: gray;
  padding: 10px;
}

footer .centre{
  display: flex;
  gap: 20px;
  margin-block: 30px;
}

footer .centre div:nth-child(1){
  width: 70%;
}

footer .centre div:nth-child(2){
  width: 30%;
}

footer h4{
  margin-bottom: 10px;
}

footer li{
  list-style: none;
}

footer a{
  color: gray;
  text-decoration: none;
}

@media(max-width:700px){
  footer .centre{
    flex-direction: column;
  }
  footer .centre div:nth-child(1){
    width: 100%;
  }
  footer .centre div:nth-child(2){
    width: 100%;
  }
}