
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1{
  color: green;
}

.centre{
  max-width: 1000px;
  margin-inline: auto;
  padding: 10px;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 0 10px gray;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 2;
}

header img.logo{
  height: 70px;
}

section{
  max-width: 1000px;
}

main{
  background-image: url(/assets/images/home_section_bg.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 90px;
}

main marquee{
  background-color: green;
  color: white;
  padding: 5px;
}

main .centre{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  padding-block: 100px;
}

main .centre img{
  width: 40%;
}

main .centre div{
  width: 60%;
}

main .centre div h1{
  background-image: linear-gradient(to right, orange, #2ecc71, green, black);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

main .centre div h3{
  color: green;
  font-weight: 500;
}

main p{
  font-weight: 500;
}

@media(max-width:700px){

  header div:nth-child(1) .logo:nth-child(2){
    display: none;
  }

  main .centre{
    flex-direction: column;
    padding-block: 50px;
  }

  main .centre img{
    width: 100%;
  }
  
  main .centre div{
    width: 100%;
  }
}

section.display{
  display: flex;
  border-radius: 10px;
  box-shadow: 0 0 400px rgba(128, 128, 128, 0.183);
  padding: 0;
  overflow: hidden;
  margin-block: 50px;
}

section.display .menu{
  width: 25%;
  background-color: green;
  padding: 10px;
  color: white;
}

section.display .menu ul{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

section.display .menu li{
  list-style: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}

section.display .menu li.active, section.display .menu li:hover{
  background-color: greenyellow;
  color:green;
}

section.display .screen{
  width: 70%;
}

section.display .screen .indi-screen{
  padding: 10px;
  display: none;
  height: 100%;
}

section.display .screen .indi-screen:nth-child(1){
  display: block;
}

section.display .screen .indi-screen:nth-child(6) img{
  width: 100%;
}

section.display .screen .indi-screen h1{
  margin-bottom: 10px;
}

section.display .screen .indi-screen h3{
  margin-top: 5px;
}

@media(max-width:700px){
  section.display{
    margin-block:0;
    flex-direction: column;
    margin-inline: 10px;
  }
  section.display .menu{
    width: 100%;
  }
  section.display .screen{
    width: 100%;
  }
}